.messages-list {
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
   margin-bottom: 10px;
}

.messages-list::-webkit-scrollbar {
   width: 0;
}

.item-list {
   max-width: 70%;
   flex-wrap: wrap;
   border: 1px solid black;
   padding: 5px;
}

.human {
   align-self: flex-end;
   text-align: right;
}

.bot {
   align-self: flex-start;
}

.chats-header {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   font-style: normal;
   font-weight: 400;
   font-size: 34px;
   color: grey;
}
