.messenger {
   display: flex;
   height: 80vh;
   justify-content: space-between;
   border: 1px solid;
   border-image: linear-gradient(90deg, #f92056 38%, #00deff 65%);
   border-image-slice: 1;
}

.chat-msg-wrp {
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 20px;  
}
